<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <img src="/images/flame-welcome.png" class="img-responsive" alt="Sobre nosotros">
      </div>
      <div class="col-md-8">
        <div class="about-container">
          <h2 class="blue">Sobre nosotros</h2>
          <p>Cupidatat amet et incididunt excepteur ipsum do anim dolor. Esse est tempor occaecat sint in pariatur.
            Minim consequat id consectetur duis. Aliquip eiusmod nostrud deserunt sunt id fugiat consectetur non aliquip
            amet ipsum ipsum.</p>
          <a class="btn about-btn" target="_blank">Únete a nosotros</a>
        </div>
      </div>
    </div>
  </div>
</section>