<section id="about" class="section">
  <div class="row vertical-align">
    <div class="col-lg-4 col-sm-12">
      <img src="/images/flame-welcome.png" class="img-responsive" alt="Sobre nosotros">
    </div>
    <div class="col-lg-8 col-sm-12">
      <div class="about-container">
        <h2 class="blue about-title">Sobre nosotros</h2>
        <p class="grey">
          ¡Tal vez no lo sepas pero amamos la tecnología y hacer comunidad! ✨
        </p>
        <p>Somos una comunidad de estudiantes que busca desarrollarse de manera
          profesional y potencializar nuestras <b>soft-skills</b> y <b>hard-skills</b> mediante el aprendizaje
          colectivo. <br>No solo somos programadores, también invitamos a personas de otros perfiles interesados en el
          ámbito de tecnológia y emprendimiento. Todos son aceptados siempre y cuando compartan nuestros ideales y
          valores como comunidad, ¡Animate a formar parte de nosotros!</p>
        <div class="row">
          <div class="col-md-6">
            <div class="icon-box">
              <i class="ti-flag"></i>
              <div class="body">
                <h4 class="title">Eventos</h4>
                <p class="text">Organizamos distintos eventos y talleres hechos por estudiantes para estudiantes, sin
                  costo alguno</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="icon-box">
              <i class="ti-light-bulb"></i>
              <div class="body">
                <h4 class="title">Ideas</h4>
                <p class="text">Apoyamos las ideas y emprendimientos de la comunidad, damos la bienvenida a
                  colaborar y crecer juntos</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>