<section id="articles" class="section articles">
  <span>
    <h2>📰 Últimos articulos</h2>
    ¿Quieres escribir algo? contacta a hola@devspace.mx
  </span>
  <div id="articles-list" class="articles-list-container show-details">
    <div class="subheading-container">
      <div class="grid-controls-container">
        <button id="btnGrid" aria-label="Activar cuadriculas noticias" aria-hidden="true" class="grid-button">
          {{ partial "icons/ui/tiles.html" . }}
        </button>
        <button id="btnRows" aria-label="Activar filas noticias" aria-hidden="true" class="grid-button">
          {{ partial "icons/ui/rows.html" . }}
        </button>
      </div>
    </div>

    {{ $posts := partialCached "func/GetArticles" . "articles" }}
    {{ $paginator := .Paginate $posts }}
    {{ $biggerFirst := true }}
    {{ $biggerPlaced := false }}
    {{ range $index, $article := $paginator.Pages }}
    {{ $counter := mod $index 2 }}
    {{ if not $counter }}
    <div class="post-row">
      {{ end }}
      <a href="{{ $article.RelPermalink }}" class="article-link"
        {{ if and (eq ($biggerFirst) true) (eq ($biggerPlaced) false) }} {{ if eq $counter 0 }} id="article-link-bigger"
        {{ $biggerPlaced = true }} {{ end }} {{ else if and (not $biggerFirst) (not $biggerPlaced) }}
        {{ if ne $counter 0 }} id="article-link-bigger" {{ $biggerPlaced = true }} {{ end }} {{ end }}>
        <div class="article-data-outer">
          <div class="image-container">
            <img src="{{ $article.Params.hero }}" class="article-image" alt="Portada del artículo" />
          </div>
          <div class="article-data">
            <h2 class="article-title">
              {{ $article.Params.title }}
            </h2>
            <p class="article-excerpt">
              {{ $article.Params.excerpt }}
            </p>
            <div class="article-metadata">
              {{ $article.Date.Format "January 2, 2006" }}{{ if $article.Params.timetoread }} •
              {{ $article.Params.timetoread }} minutos para leer{{ end }}
            </div>
          </div>
        </div>
      </a>
      {{ $counter := mod (add $index 1) 2 }}
      {{ $len := (where .Pages "Type" "posts") }}
      {{ if or (eq $counter 0) (eq (add $index 1) $len) }}
    </div>
    {{ $biggerPlaced = false }}
    {{ if $biggerFirst }}
    {{ $biggerFirst = false }}
    {{ else }}
    {{ $biggerFirst = true }}
    {{ end }}
    {{ end }}
    {{ end }}
  </div>
  {{ partial "paginator/paginator.html" . }}


  {{ $script := resources.Get "js/toggleLayout.js" }}
  <script src="{{ $script.RelPermalink }}"></script>
  <div class="articles-paginator">

  </div>
</section>