<section id="join">
  <div class="container join-content">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="title">
          <h2 aria-hidden="true">👨🏽‍💻👩🏻‍💻</h1>
            <h2>Únete a DevSpace</h2>
            <p>¿Quieres ser parte de la comunidad en línea?<br> Súmate a nuestro Discord, huele a limón 🍋</p>
        </div>
        <div class="row">
          <a target="_blank" rel="noreferrer" aria-label="Botón para abrir enlace a Discord"
            href="https://discordapp.com/invite/sJ7b9Mr" class="join-btn vertical-align"><span class="icon"><i
                class="fab fa-fw fa-discord"></i></span>Únirme a
            Discord</a>
          <a target="_blank" rel="noreferrer" aria-label="Botón para abrir enlace al código de conducta"
            href="https://github.com/DevSpaceMX/codigo-de-conducta" class="join-btn vertical-align"><span
              class="icon"><i class="fas fa-fw fa-gavel"></i></span>Código de conducta</a>

        </div>

      </div>
    </div>
</section>