<section id="join" class="join-content">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="title">
          <h2>👨🏽‍💻👩🏻‍💻</h1>
            <h2>Únete a DevSpace</h2>
            <p>¿Quieres ser parte de la comunidad en línea?<br> Súmate a nuestro Discord, huele a limón 🍋</p>
        </div>
        <button class="join-btn vertical-align"><span class="icon"><i class="fab fa-fw fa-discord"></i></span>Únirme a
          Discord</button>
      </div>
    </div>
</section>