<div class="container">
  <div class="footer-hr"></div>
  <div class="footer-container">
    <div class="row">
      <div class="col-md-12 center">
        <img src="/images/banner.png" height="40" alt="Logo DevSpace">
        <h3>📧 contacto</h3>
        <p>
          Si tienes ganas de colaborar con nuestra comunidad, manda por favor un correo a<br><a
            href="mailto:hola@devspace.mx">hola@devspace.mx</a>
        </p>
        <div class="social-icon-container">
          {{ range $index, $component := .Site.Social }}
          {{ with $component }}
          {{ $path := print "icons/social/" $index }}
          <a target="_blank" rel="noreferrer" aria-label="Página en {{ $index }}"
            href="{{ . }}">{{ partial $path $ }}</a>
          <span class="hidden">{{ $component }}</span>
          {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</div>