<!DOCTYPE html>
<html lang="en">
<!-- Page head -->
{{ partial "head/head.html" . }}

<body class="line-numbers">
  {{ $script := resources.Get "js/initColors.js" }}
  <script src="{{ $script.RelPermalink }}"></script>
  <div class="layout-styled">
    <!-- Include header or navigation bar-->
    {{ partial "header.html" . }}

    {{ block "main" . }}
    <!-- Page content that will differ between templates -->
    {{ end }}

    <!-- Include footer -->
    {{ partial "footer.html" . }}

  </div>

  {{ $script := resources.Get "js/prism.js" }}
  <script src="{{ $script.RelPermalink }}"></script>
</body>

</html>