p {
  line-height: 1.756;
  font-size: 18px;
  color: var(--articleText);
  font-family: var(--sanserif);
  -webkit-transition: var(--color-mode-transition);
  -o-transition: var(--color-mode-transition);
  transition: var(--color-mode-transition);
  margin: 0 auto 35px;
  width: 100%;
}

p b {
  font-weight: 800;
}

/*TABLET*/
@media screen and (max-width: $tablet) {
  p {
    margin: 0 auto 25px;
  }
}

/*PHABLET*/
@media screen and (max-width: 540px) {
  p {
    padding: 0 20px;
  }
}
