.section {
  width: 100%;
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 4rem;

  /*DESKTOP*/
  @media screen and (max-width: $desktop) {
    max-width: 850px;
  }

  /*PHABLET*/
  @media screen and (max-width: $phablet) {
    max-width: 100%;
    padding: 2rem;
  }
}

.narrow {
  p {
    /*TABLET*/
    @media screen and (max-width: $tablet) {
      padding: 0 2rem;
      max-width: 527px;
    }
  }
}
