<section class="section narrow">
  <div class="author-hero">
    {{ with .Params.avatar }}
    <div class="author-hero-image">
      <img src="{{ . }}" alt="Foto del autor" />
    </div>
    {{ end }}
    <h1 class="author-heading">{{ .Title }}</h1>
    <p class="author-subheading">{{ .Params.bio }}</p>
    <div class="author-social">
      <div class="social-icon-outer authors-sio">
        <div class="social-icon-container">
          {{ range $component := .Params.social }}
          {{ $path := print "icons/social/" .title }}
          <a target="_blank" rel="noreferrer" aria-label="Página en {{ .title }}"
            href="{{ .url }}">{{ partial $path $ }}</a>
          <span class="hidden">{{ .url }}</span>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>