<section id="hero" class="section narrow">
  <div class="article-hero">
    <header class="article-header">
      <h1 class="article-hero-heading">{{ .Page.Params.Title }}</h1>
      <div class="article-hero-subtitle">
        <div class="article-meta">
          {{ partial "article/authors.html" . }}
          {{ .Page.Date.Format "January 2, 2006" }}
          {{ with .Page.Params.timetoread }} • {{ . }} minutos para leer{{ end }}
        </div>
      </div>
      {{ with .Page.Params.hero }}
      <div class="article-hero-image">
        <img src="{{ . }}" class="img-responsive" alt="Portada del artículo">
      </div>
      {{ end }}
    </header>

  </div>
</section>